@page "/"

@using PointOfSaleClient.Models
@using PointOfSaleClient.Services
@inject IUserService userService
@inject NavigationManager navigationManager

<div class="row" style="margin-top: 10%;">
    <div class="col-sm-1 col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-1">
    </div>
    <div class="col-sm-10 col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-10">
        <div class="card cw-480">
            <EditForm Model="@Data"
                      OnValidSubmit="@HandleValidSubmit"
                      OnInvalidSubmit="@HandleInvalidSubmit"
                      Context="EditFormContext">
                <DataAnnotationsValidator />
                <div class="card-header text-center py-3">
                    <h4>Welcome to Point Of Sale</h4>
                    <p class="tm-8 mb-0 fw-normal fs-825">
                        Log in the system
                    </p>
                </div>
                <div class="card-body">
                    <DxFormLayout>
                        <DxFormLayoutItem ColSpanMd="12">
                            <Template>
                                <DxTextBox @bind-Text="@Data.username"
                                           NullText="Username"
                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"/>
                                <div class="text-danger">
                                    <ValidationMessage For="@(() => Data.username)" />
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12">
                            <Template>
                                <DxTextBox @bind-Text="@Data.password"
                                           NullText="Password"
                                           Password="true"
                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"/>
                                <div class="text-danger">
                                    <ValidationMessage For="@(() => Data.password)" />
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12">
                            <Template>
                                <DxCheckBox @bind-Checked="@Data.rememberMe" CssClass="mb-1">
                                    Remember Me
                                </DxCheckBox>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12">
                            <Template>
                                <DxButton CssClass="w-100"
                                          Text="Login"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          SubmitFormOnClick="true"/>
                            </Template>
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </div>
            </EditForm>
        </div>   
    </div>
    <div class="col-sm-1 col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-1">
    </div>
</div>

@code {
    Login Data { get; set; } = new Login();
    async void HandleValidSubmit()
    {
        try{
            await userService.Login(Data);
            navigationManager.NavigateTo("./dashboard", true);
        }
        catch{
            
        }
    }
    void HandleInvalidSubmit() {
    }
}